{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-9">
    <div class="row">
        {% for comment in comments %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-dark">
                        <h5 class="card-title" style="color: black;">{{ comment.user.username }}</h5>
                        <p class="card-text" style="color: black;">{{ comment.comment |truncatewords:10 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if request.user.is_authenticated %}
<div class="card m-2" style="background-color: orange; color: black;">
    <div class="card-body">
        <form class="text-black" method="post" action="{% url 'platform_comments' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ comment_form | crispy }}
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
